<!--
==========================================================
SARPRASIN v2.0
SMANSASOO Digital System

APP MODAL COMPONENT

Base Reusable Modal Framework

Version : 1.0.0
==========================================================
-->



<div

class="modal-overlay"

id="appModalOverlay"

>





    <div

    class="app-modal"

    id="appModal"

    role="dialog"

    aria-modal="true"

    >





        <!-- ====================================
             MODAL HEADER
        ===================================== -->


        <div

        class="modal-header"

        >



            <div class="modal-title-wrapper">


                <h2

                class="modal-title"

                id="modalTitle"

                >

                    Modal Title

                </h2>



                <p

                class="modal-subtitle"

                id="modalSubtitle"

                >

                    Modal description

                </p>


            </div>






            <!-- CLOSE BUTTON -->


            <button

            class="modal-close"

            id="modalClose"

            type="button"

            aria-label="Close modal"

            >


                ×


            </button>




        </div>








        <!-- ====================================
             MODAL BODY
        ===================================== -->


        <div

        class="modal-body"

        id="modalBody"

        >


            <!--

            Dynamic Content

            Form
            Table
            Detail
            Confirmation


            -->


        </div>








        <!-- ====================================
             MODAL FOOTER
        ===================================== -->


        <div

        class="modal-footer"

        id="modalFooter"

        >


            <!--


            Example:


            <button class="btn-secondary">

                Batal

            </button>



            <button class="btn-primary">

                Simpan

            </button>


            -->


        </div>






    </div>





</div>
