<!--
==========================================================
SARPRASIN v2.0
SMANSASOO Digital System

IMPORT EXCEL MODAL COMPONENT

Bulk Asset Import

Version : 1.0.0
==========================================================
-->



<div

class="modal-overlay"

id="importExcelModalOverlay"

>





<div

class="app-modal import-excel-modal"

id="importExcelModal"

role="dialog"

aria-modal="true"

>





<!-- =====================================
     HEADER
====================================== -->


<div class="modal-header">


    <div>


        <h2

        class="modal-title"

        >

            Import Data Excel


        </h2>




        <p

        class="modal-subtitle"

        >

            Upload data inventaris secara massal


        </p>


    </div>





    <button

    class="modal-close"

    id="importExcelModalClose"

    >

        ×

    </button>


</div>









<!-- =====================================
     BODY
====================================== -->


<div class="modal-body">






<!-- UPLOAD AREA -->


<div

class="excel-upload-area"

id="excelUploadArea"

>


<input

type="file"

id="excelFileInput"

accept=".xlsx,.xls,.csv"

hidden

>



<div>


📄


<h3>

Upload File Excel

</h3>



<p>

Format:
.xlsx / .xls / .csv

</p>


</div>



</div>









<!-- FILE INFO -->


<div

class="excel-file-info"

id="excelFileInfo"

>


<div>


<span>

File

</span>


<strong

id="excelFileName"

>

Belum dipilih

</strong>


</div>





<div>


<span>

Ukuran

</span>


<strong

id="excelFileSize"

>

-

</strong>


</div>



</div>









<!-- TEMPLATE DOWNLOAD -->


<div class="excel-template-box">


<p>

Belum memiliki format?

</p>


<button

class="btn-outline"

id="downloadTemplate"

>

Download Template Excel

</button>


</div>









<!-- PREVIEW TABLE -->


<div

class="excel-preview"

id="excelPreview"

>


<h3>

Preview Data

</h3>



<div

class="table-wrapper"

>


<table>


<thead>

<tr>


<th>

Kode

</th>


<th>

Nama Asset

</th>


<th>

Kategori

</th>


<th>

Status

</th>


</tr>

</thead>



<tbody

id="excelPreviewBody"

>


<tr>

<td colspan="4">

Belum ada data

</td>

</tr>


</tbody>



</table>


</div>



</div>









<!-- VALIDATION SUMMARY -->


<div

class="excel-validation-summary"

>



<div>


<span>

Total Data

</span>


<strong

id="excelTotal"

>

0

</strong>


</div>





<div>


<span>

Valid

</span>


<strong

id="excelValid"

>

0

</strong>


</div>





<div>


<span>

Error

</span>


<strong

id="excelError"

>

0

</strong>


</div>



</div>








</div>









<!-- =====================================
     FOOTER
====================================== -->


<div class="modal-footer">



<button

class="btn-secondary"

id="importCancel"

>

Batal

</button>






<button

class="btn-primary"

id="importProcess"

disabled

>

Import Data

</button>




</div>






</div>





</div>
