<!--
==========================================================
SARPRASIN v2.0
SMANSASOO Digital System

UPLOAD MODAL COMPONENT

Universal File Upload

Version : 1.0.0
==========================================================
-->



<div

class="modal-overlay"

id="uploadModalOverlay"

>





<div

class="app-modal upload-modal"

id="uploadModal"

role="dialog"

aria-modal="true"

>





<!-- =====================================
     HEADER
====================================== -->


<div class="modal-header">


<div>


<h2

class="modal-title"

id="uploadTitle"

>

Upload File

</h2>





<p

class="modal-subtitle"

id="uploadSubtitle"

>

Tambahkan dokumen pendukung

</p>


</div>





<button

class="modal-close"

id="uploadModalClose"

>

×

</button>



</div>









<!-- =====================================
     BODY
====================================== -->


<div class="modal-body">







<!-- DROPZONE -->


<div

class="upload-dropzone"

id="uploadDropzone"

>



<input

type="file"

id="uploadFileInput"

hidden

>




<div class="upload-icon">

📁

</div>




<h3>

Pilih File

</h3>




<p>

Klik atau tarik file ke area ini

</p>




<span

id="uploadAllowed"

>

Maksimal 10 MB

</span>




</div>









<!-- FILE PREVIEW -->


<div

class="upload-preview"

id="uploadPreview"

style="display:none"

>




<div class="file-icon">

📄

</div>





<div class="file-info">


<strong

id="uploadFileName"

>

-

</strong>



<span

id="uploadFileSize"

>

-

</span>


</div>





<button

class="file-remove"

id="removeUploadFile"

>

×


</button>




</div>









<!-- PROGRESS -->


<div

class="upload-progress"

id="uploadProgressContainer"

style="display:none"

>



<div

class="progress-bar"

>


<div

id="uploadProgress"

></div>


</div>



<span

id="uploadProgressText"

>

0%

</span>



</div>









<!-- DESCRIPTION -->


<div class="form-group">


<label>

Keterangan

</label>


<textarea

id="uploadDescription"

placeholder="Tambahkan keterangan file..."

></textarea>



</div>







</div>









<!-- =====================================
     FOOTER
====================================== -->


<div class="modal-footer">



<button

class="btn-secondary"

id="uploadCancel"

>

Batal

</button>






<button

class="btn-primary"

id="uploadSubmit"

disabled

>

Upload

</button>



</div>






</div>





</div>
