<!--
==========================================================
SARPRASIN v2.0
SMANSASOO Digital System

APP TABLE COMPONENT

Reusable Data Table Container

Version : 1.0.0
==========================================================
-->



<div

class="table-wrapper"

id="appTableWrapper"

>





<!-- =====================================
     TABLE TOOLBAR
====================================== -->


<div class="table-toolbar">





<!-- TITLE -->


<div class="table-title-area">


<h3

class="table-title"

id="tableTitle"

>

Data Table

</h3>



<p

class="table-description"

id="tableDescription"

>

Menampilkan data sistem

</p>


</div>









<!-- ACTION -->


<div class="table-actions">



<button

class="table-btn"

id="tableRefresh"

title="Refresh Data"

>

↻

</button>






<button

class="table-btn"

id="tableExport"

title="Export"

>

⬇

</button>




</div>





</div>









<!-- =====================================
     SEARCH & FILTER
====================================== -->


<div class="table-control">





<div class="table-search">


<input

type="search"

id="tableSearch"

placeholder="Cari data..."

>



</div>





<div

class="table-filter-slot"

id="tableFilterSlot"

>


</div>





</div>









<!-- =====================================
     TABLE CONTAINER
====================================== -->


<div class="table-responsive">





<table

class="app-table"

id="mainTable"

>






<thead

id="tableHead"

>


<tr>


<th>

No

</th>


<th>

Data

</th>


<th>

Status

</th>


<th>

Aksi

</th>


</tr>


</thead>






<tbody

id="tableBody"

>





<!-- Dynamic Data -->



</tbody>






</table>






</div>









<!-- =====================================
     LOADING STATE
====================================== -->


<div

class="table-loading"

id="tableLoading"

style="display:none"

>


<div class="loading-spinner">

</div>



<p>

Memuat data...

</p>



</div>









<!-- =====================================
     EMPTY STATE
====================================== -->


<div

class="table-empty"

id="tableEmpty"

style="display:none"

>


<div class="empty-icon">

📦

</div>




<h4>

Data Tidak Ditemukan

</h4>




<p>

Belum ada data untuk ditampilkan

</p>



</div>









<!-- =====================================
     FOOTER
====================================== -->


<div class="table-footer">





<div

class="table-info"

id="tableInfo"

>

Menampilkan 0 data

</div>







<div

class="table-pagination"

id="tablePagination"

>


</div>




</div>







</div>
