<!--
==========================================================
SARPRASIN v2.0
SMANSASOO Digital System

PAGINATION COMPONENT

Reusable Table Pagination

Version : 1.0.0
==========================================================
-->



<div

class="pagination-container"

id="paginationContainer"

>





<!-- =====================================
     INFORMATION
====================================== -->


<div

class="pagination-info"

id="paginationInfo"

>

Menampilkan 1 - 20 dari 0 data

</div>









<!-- =====================================
     CONTROL
====================================== -->


<div

class="pagination-control"

>





<button

class="pagination-btn"

id="paginationFirst"

title="Halaman Pertama"

>

«

</button>







<button

class="pagination-btn"

id="paginationPrev"

title="Sebelumnya"

>

‹

</button>







<div

class="pagination-pages"

id="paginationPages"

>





<button

class="pagination-page active"

>

1

</button>



<button

class="pagination-page"

>

2

</button>



<button

class="pagination-page"

>

3

</button>




</div>







<button

class="pagination-btn"

id="paginationNext"

title="Berikutnya"

>

›

</button>







<button

class="pagination-btn"

id="paginationLast"

title="Halaman Terakhir"

>

»

</button>






</div>









<!-- =====================================
     PAGE SIZE
====================================== -->


<div

class="pagination-size"

>



<label>

Tampilkan

</label>





<select

id="paginationLimit"

>


<option value="10">

10

</option>



<option value="20"

selected>

20

</option>



<option value="50">

50

</option>



<option value="100">

100

</option>



</select>





<label>

data

</label>



</div>







</div>
