<!--
==========================================================
SARPRASIN v2.0
SMANSASOO Digital System

TABLE FILTER COMPONENT

Reusable Table Filter System

Version : 1.0.0
==========================================================
-->



<div

class="table-filter-container"

id="tableFilterContainer"

>





<!-- =====================================
     SEARCH
====================================== -->


<div

class="filter-search"

>


<div class="search-icon">

🔍

</div>




<input

type="search"

id="tableSearch"

class="table-search-input"

placeholder="Cari data..."

>


</div>









<!-- =====================================
     FILTER GROUP
====================================== -->


<div

class="filter-group"

id="filterGroup"

>






<!-- Dynamic Filter -->



</div>









<!-- =====================================
     ACTION
====================================== -->


<div

class="filter-action"

>



<button

class="filter-reset-btn"

id="filterReset"

>

Reset

</button>




</div>








</div>

<div class="table-filter">


<select>


<option>

Semua

</option>


<option>

Aktif

</option>


<option>

Tidak Aktif

</option>


</select>


</div>
