<!--
==========================================================
SARPRASIN v2.0
SMANSASOO Digital System

APP PROFILE MENU COMPONENT

Version : 1.0.0
==========================================================
-->


<div 
class="profile-menu"
id="profileMenu"
>


    <!-- ==================================
         PROFILE BUTTON
    =================================== -->


    <button
    class="profile-trigger"
    id="profileTrigger"
    >


        <img
        src="../../assets/img/avatar.png"
        alt="User Avatar"
        class="profile-avatar"
        id="profileAvatar"
        >



        <div class="profile-info">


            <strong
            id="profileName"
            >

                Administrator

            </strong>


            <span
            id="profileRole"
            >

                Admin

            </span>


        </div>



        <span class="profile-arrow">

            ▼

        </span>



    </button>








    <!-- ==================================
         DROPDOWN MENU
    =================================== -->


    <div
    class="profile-dropdown"
    id="profileDropdown"
    >




        <!-- USER INFO -->


        <div class="profile-dropdown-header">


            <img
            src="../../assets/img/avatar.png"
            alt="Profile"
            class="dropdown-avatar"
            >



            <div>


                <h4
                id="dropdownName"
                >

                    Administrator

                </h4>


                <p
                id="dropdownEmail"
                >

                    admin@sman1sooko.sch.id

                </p>



            </div>



        </div>







        <div class="dropdown-divider"></div>







        <!-- MENU ITEM -->


        <a 
        href="/profile"
        class="profile-item"
        >


            <span>
                👤
            </span>


            Profile Saya


        </a>





        <a 
        href="/settings"
        class="profile-item"
        >


            <span>
                ⚙️
            </span>


            Pengaturan


        </a>







        <div class="dropdown-divider"></div>







        <!-- LOGOUT -->


        <button
        class="profile-item logout"
        id="logoutButton"
        >


            <span>
                🚪
            </span>


            Keluar


        </button>





    </div>




</div>
