<!--
==========================================================
SARPRASIN v2.0
SMANSASOO Digital System

APP SHELL COMPONENT

Main Application Layout Wrapper

Version : 1.0.0
==========================================================
-->



<div
class="app-shell"
id="appShell"
>




    <!-- ==========================================
         SIDEBAR AREA
    =========================================== -->


    <aside

    class="app-sidebar"

    id="appSidebar"

    >


        <div id="sidebarComponent">


            <!--
            sidebar.html loaded here

            -->


        </div>


    </aside>








    <!-- ==========================================
         MAIN APPLICATION AREA
    =========================================== -->


    <div

    class="app-main"

    id="appMain"

    >







        <!-- ======================================
             TOPBAR
        ======================================= -->


        <header

        class="app-topbar"

        id="appTopbar"

        >



            <div id="topbarComponent">


                <!--

                topbar.html

                -->


            </div>



        </header>









        <!-- ======================================
             PAGE CONTENT
        ======================================= -->


        <main

        class="app-content"

        id="appContent"

        >




            <!-- PAGE TITLE -->


            <div

            id="pageTitleComponent"

            >


                <!--

                app-page-title.html

                -->


            </div>







            <!-- PAGE SECTION -->


            <div

            id="pageContainer"

            >


                <!--

                Dynamic Page Content


                Dashboard

                Asset

                Report

                Executive


                -->


            </div>







        </main>









        <!-- ======================================
             FOOTER
        ======================================= -->


        <footer

        class="app-footer"

        id="appFooter"

        >



            <div id="footerComponent">


                <!--

                footer.html

                -->


            </div>



        </footer>






    </div>







    <!-- ==========================================
         GLOBAL COMPONENT
    =========================================== -->


    <div id="scrollTopComponent">


        <!--

        app-scroll-top.html

        -->


    </div>




</div>
