<!--
==========================================================
Sarprasin 2.0
Application Grid Component
File : src/components/layout/app-grid.html
Version : 2.0.0
==========================================================
-->

<section
    id="appGrid"
    class="app-grid">

    <!-- ==========================================
         Grid Item 1
    =========================================== -->

    <div
        class="grid-item"
        data-grid="1">

        <!-- Dynamic Component -->

    </div>

    <!-- ==========================================
         Grid Item 2
    =========================================== -->

    <div
        class="grid-item"
        data-grid="2">

        <!-- Dynamic Component -->

    </div>

    <!-- ==========================================
         Grid Item 3
    =========================================== -->

    <div
        class="grid-item"
        data-grid="3">

        <!-- Dynamic Component -->

    </div>

    <!-- ==========================================
         Grid Item 4
    =========================================== -->

    <div
        class="grid-item"
        data-grid="4">

        <!-- Dynamic Component -->

    </div>

</section>
