<!--
==========================================================
SARPRASIN v2.0
SMANSASOO Digital System

APP TOOLBAR COMPONENT

Page Action Controller

Version : 1.0.0
==========================================================
-->



<div

class="app-toolbar"

id="appToolbar"

>



    <!-- ======================================
         LEFT AREA
    ======================================= -->


    <div

    class="toolbar-left"

    id="toolbarLeft"

    >



        <!-- PAGE FILTER -->


        <div

        class="toolbar-filter"

        id="toolbarFilter"

        >


            <!--

            Example:

            <select class="filter-select">

                <option>
                    Semua Kondisi
                </option>

            </select>


            -->


        </div>



    </div>







    <!-- ======================================
         RIGHT AREA
    ======================================= -->


    <div

    class="toolbar-right"

    id="toolbarRight"

    >



        <!-- REFRESH BUTTON -->


        <button

        class="toolbar-btn"

        id="refreshButton"

        title="Refresh Data"

        >


            <span>

                🔄

            </span>


            Refresh


        </button>







        <!-- EXPORT BUTTON -->


        <button

        class="toolbar-btn"

        id="exportButton"

        title="Export Data"

        >


            <span>

                📄

            </span>


            Export


        </button>







        <!-- PRIMARY ACTION -->


        <button

        class="toolbar-btn primary"

        id="primaryAction"

        >


            <span>

                +

            </span>


            Tambah Data


        </button>



    </div>





</div>
