<!--
==========================================================
SARPRASIN v2.0
SMANSASOO Digital System

APP SECTION COMPONENT

Reusable Content Section Wrapper

Version : 1.0.0
==========================================================
-->


<section
class="app-section"
id="appSection"
>



    <!-- ======================================
         SECTION HEADER
    ======================================= -->


    <div class="section-header">



        <div class="section-heading">


            <h2
            class="section-title"
            id="sectionTitle"
            >

                Section Title

            </h2>




            <p
            class="section-description"
            id="sectionDescription"
            >

                Section description

            </p>


        </div>







        <!-- ACTION BUTTON AREA -->


        <div

        class="section-actions"

        id="sectionActions"

        >


            <!--

            Example:


            <button class="btn-primary">

                + Tambah Data

            </button>


            -->


        </div>




    </div>








    <!-- ======================================
         SECTION BODY
    ======================================= -->


    <div

    class="section-body"

    id="sectionBody"

    >


        <!--

        Dynamic Content:

        Card
        Table
        Chart
        Form


        -->


    </div>







</section>
