<!--
==========================================================
SARPRASIN v2.0
SMANSASOO Digital System

APP PAGE TITLE COMPONENT

Version : 1.0.0
==========================================================
-->


<section 
class="page-header"
id="pageHeader"
>


    <!-- ================================
         TITLE AREA
    ================================= -->


    <div class="page-header-content">


        <div class="page-breadcrumb">


            <span 
            id="breadcrumbHome"
            >
                Home
            </span>


            <span class="breadcrumb-separator">
                /
            </span>


            <span 
            id="breadcrumbCurrent"
            >
                Dashboard
            </span>


        </div>





        <h1 
        class="page-title"
        id="pageTitle"
        >

            Dashboard

        </h1>





        <p
        class="page-description"
        id="pageDescription"
        >

            Ringkasan sistem sarana dan prasarana sekolah

        </p>


    </div>







    <!-- ================================
         ACTION AREA
    ================================= -->


    <div 
    class="page-header-actions"
    id="pageActions"
    >


        <!--

        Contoh:

        <button class="btn-primary">

            Tambah Asset

        </button>


        -->


    </div>




</section>
