<!--
==========================================================
SARPRASIN v2.0
SMANSASOO Digital System

APP TOPBAR COMPONENT

Application Header Navigation

Version : 1.0.0
==========================================================
-->


<header

class="topbar"

id="appTopbar"

>



    <!-- ======================================
         MOBILE MENU BUTTON
    ======================================= -->


    <button

    class="topbar-menu-toggle"

    id="sidebarToggle"

    aria-label="Menu"

    >


        ☰


    </button>









    <!-- ======================================
         LEFT AREA
    ======================================= -->


    <div

    class="topbar-left"

    >



        <!-- GLOBAL SEARCH -->


        <div

        id="globalSearchComponent"

        >


            <!--

            app-searchbar.html

            -->


        </div>



    </div>









    <!-- ======================================
         RIGHT AREA
    ======================================= -->


    <div

    class="topbar-right"

    >






        <!-- THEME TOGGLE -->


        <div

        id="themeToggleComponent"

        >


            <!--

            app-theme-toggle.html

            -->


        </div>









        <!-- NOTIFICATION -->


        <div

        class="topbar-notification"

        id="notificationComponent"

        >



            <button

            class="notification-button"

            >


                🔔



                <span

                class="notification-badge"

                id="notificationCount"

                >

                    0

                </span>



            </button>



        </div>









        <!-- PROFILE -->


        <div

        id="profileMenuComponent"

        >


            <!--

            app-profile-menu.html

            -->


        </div>







    </div>







</header>
