<!--
==========================================================
SARPRASIN v2.0
SMANSASOO Digital System

APP SEARCHBAR COMPONENT

Version : 1.0.0
==========================================================
-->


<div
class="app-search"
id="appSearch"
>


    <!-- SEARCH INPUT -->

    <div class="search-wrapper">


        <span class="search-icon">

            🔍

        </span>



        <input

        type="search"

        id="globalSearch"

        class="search-input"

        placeholder="Cari aset, ruangan, laporan..."

        autocomplete="off"

        >





        <button

        class="search-clear"

        id="searchClear"

        title="Hapus pencarian"

        >


            ×


        </button>



    </div>







    <!-- SEARCH RESULT DROPDOWN -->


    <div

    class="search-result"

    id="searchResult"

    >



        <!--

        Dynamic Result Example:


        <a class="search-item">

            <div>

                <strong>
                Laptop Lab Komputer
                </strong>


                <small>
                Asset / LAB-001
                </small>

            </div>

        </a>


        -->


        <div
        class="search-empty"
        >

            Ketik untuk mencari...

        </div>



    </div>




</div>
